// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 200px 450px 600px 450px 200px;
  grid-auto-flow: row;
  justify-items: stretch;
  align-items: stretch;
  background-color: $white;
}

.main-title {
  width: 100%;
  background-color: $red;
  color: $white;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.sub-title {
    text-align: right;
    font-size: 1rem;
    margin-right: 60px;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 200;
}


#mag-title a{
  font-size:calc(100% + 6vw);
  line-height: 1;
  margin: 0;
  color: $white;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}

.home-box {
  padding: 30px;
  margin: 40px 0;
}

.page-template-fullwidthpage h1.entry-title {
  font-size:calc(100% + 2vw);
  line-height: 1;
  margin: 0 0 15px 0;
  text-align: center;
}

.home-box h2 {
  font-size:calc(100% + 2vw);
  line-height: 1;
  margin: 0 0 15px 0;
}

#home p, #home li, .entry-content p, .entry-content li, .step li {
  font-size: calc(100% + .4vw);
  line-height: 1.4;
}

#home .container-fluid {
  height: 100%;
  padding: 20px 0;
}

#home .yellow{
    background-color: $yellow;
    height: 100%;
}

#home .aqua{
    background-color: $aqua;
    height: 100%;
}

#home .red {
    background-color: $red;
    height: 100%;
}


#home .white {
    background-color: $white;
    height: 100%;
}


.internal-top-block h2 {
  font-size:calc(100% + 2vw);
  line-height: 1;
  margin: 20px 0;
}

.btn {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: $black;
  padding: 5px 30px;
  box-shadow: 5px 5px;
  transition: all 0.5s ease-out;
  cursor: pointer;
  margin: 10px auto;
  display: block;
  max-width: 300px;
}

.btn-more {
  background-color: $yellow;
}

.btn-more:hover {
    background-color: $yellow;
    box-shadow: -5px 5px $red;
}

.btn-signup {
  background-color: $aqua;
}

.btn-signup:hover {
    background-color: $aqua;
    box-shadow: -5px 5px $red;
}

.center-block {
  display: flex;
  flex-wrap: no-wrap;
  gap: 0 30px;
  padding: 30px;
}

.center-block img {
  width: 50%
}
.conter-block div {
  width: 40%;
}

/*activity*/
.topic-row {
  margin-bottom: 40px;
}

.activity-block {
  border: 4px solid $black;
  padding: 40px;
  margin: 40px auto;
}

.active-img {
  border: 10px solid $black;
  margin: 0 20px;
}

.detox-img {
    border: 10px solid $black;
}

#activity-content h1 {
  font-size:calc(100% + 3vw);
  line-height: 1;
  margin: 0 0 15px 0;
}

#activity-content h2 {
  font-size:calc(100% + 2.5vw);
  line-height: 1;
  margin: 0 0 15px 0;
}

 .topic-row h2 {
  font-size:calc(100% + 1.5vw);
  line-height: 1;
  margin: 0 0 15px 0;
 }

#activity-content h2.steps-title{
    font-size:calc(100% + 2vw);
    margin: 40px 0 30px 0;
}

#activity-content p, .topic-row p, .topic-row li {
  font-size: calc(100% + .4vw);
  line-height: 1.4;
}

.entry {
  margin-bottom: 50px;
}

.entry h3 {
  margin-top: 20px;
}

.step {
  margin: 20px 0;
  padding: 30px;
}

.step:nth-of-type(even){
  background-color: #efefef;
}

#single-wrapper .featured {
  margin: 20px auto;
  display: block;
  border: 10px solid $black;
}

#single-wrapper .entry-content {
  margin-top: 50px;
}

#comments {
  margin:50px 0 200px 0;
}

#wrapper-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: $white;
  color: $black;
  border-top: 1px solid $black;
}

.accordion-button{
  background-color: $yellow;
  transition: all .3s ease;
  border-radius: 0;
}

.accordion-button:hover {
  background-color: $aqua;
}

.accordion-button {
  font-size: 1.5rem;
  margin: auto auto;
  display: block;
}

.accordion-button:not(.collapsed){
  color: $black;
  background-color: $yellow;
}

.accordion-item {
  border: none;
}

.submission-holder {
  margin-top: 50px;
}

#submit {
  font-size: 1.3rem;
  background-color: $yellow;
}

#submit:hover {
  box-shadow: -5px 5px $red;
  color: $black;
}



#wrapper-footer a {
  transition: all .3s ease;
}

#wrapper-footer a:hover {
  background-color: $yellow;
}

img.yellow {
    background-color: $yellow;
}

img.aqua {
    background-color: $aqua;
}

img.red {
    background-color: $red;
}

img.orange{
      background-color: $orange;
}

img.black{
      background-color: $black;
}

.sub-img {
  width: 100%;;
}

.entry-inner {
    padding: 10px;
    margin: 10px 0;
    border: 10px solid $black;
    transition: all .3s ease;
    height: 100%;
}

.entry-inner:hover {
  box-shadow: 5px 5px $aqua;
  transform: scale(1.02);
}

.entry-inner a{
  color: $black;
}

/*COMMENTS*/

.comment-list a{
  color: $black;
  text-decoration: none;
}

.comment-list li{
  padding: 10px;
  border-top: 1px solid $aqua;
  margin: 10px 0;
}

.comment-list li li {
  border-bottom: 1px solid $aqua;
}

.comment-metadata a{
  color: #424242;
  font-size: .8rem;
}

.comment-reply-link {
  background-color: $yellow;
  padding: 3px 6px;
  border-radius: 2px;
}

@media only screen and (max-width: 600px) {
    .active-img {
      margin: 30px 0;
    }

    .activity-block{
      padding: 20px;
    }

    .step {
      padding: 10px;
    }

}

.hide {
  display: none;
}


/* override styles when printing */
@media print {

   
}